* {
    margin: 0;
    padding: 0;
}
body {
    background-color: beige;
    position: relative;
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-size: 20px;
    color: darkolivegreen;
}


header,
footer {
    background: darkgreen;
    width: 100%;
    line-height: 60px;
    color: ivory;
    padding: 10px 0;
}

header {
    border-bottom: 10px solid lightpink;
}

footer {
    border-bottom: 10px solid #30030e;
}

figure {
    margin-bottom: 40px;
}

a {
    color: ivory;
    text-decoration: none;
}

li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
}

h1,
h2 {
    margin: 20px;
}

img {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

section {
    margin-bottom: 0;
    padding: 20px;
    background-color: olive;
    color: ivory;
    border-top: 5px solid lightgrey;
}

form {
    margin: 0 auto;
    align-items: center;
    width: 500px;
    padding: 10px;
    border: 5px solid lightpink;
    border-radius: 20px;
}

form ul li {
    display: inline-block;
    margin: 0 auto;
}

label {
    display: inline;
    color: ivory;
    width: 100px;
    margin: 0 auto;
}

input,
textarea {
    box-sizing: border-box;
    width: 300px;
    border: 1px solid darkolivegreen;
}

textarea {
    vertical-align: top;
    height: 60px;
}

button {
    height: 40px;
    width: 120px;
    background-color: darkolivegreen;
    color: ivory;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}